<%- include('base/header'); %>
<%- include('base/navbar'); %>

<%- include('components/heading'); %>

<div class="container mb-4">
  <h3 class="text-success mb-3">Become administrator</h3>
  <p>If you've been given administrator privilege, enter the admin password below:</p>
</div>

<%- include('components/privilege-form.ejs'); %>

<%- include('base/footer'); %>
