<%- include('base/header'); %>
<%- include('base/navbar'); %>

<%- include('components/heading'); %>
<div class="jumbotron">
  <h1 class="text-center mb-5">Latest posts</h1>
  <ul>
    <% messages.forEach(message => { %>
      <%- include('components/card', { message }) %>
    <% }); %>
  </ul>
</div>

<%- include('base/footer'); %>
