<%- include('base/header'); %>
<%- include('base/navbar'); %>

<%- include('components/heading.ejs'); %>

<div class="container">
  <form class="w-50 mx-auto" action="" method="POST">

    <div class="form-group">
      <label for="email">Email</label>
      <input
        class="form-control"
        type="email"
        id="email"
        placeholder="Email"
        required
        name="email">

      <% if (locals.field ==='email' && locals.message) { %>
        <%- include('components/invalid-form-feedback.ejs', { error: message }); %>
      <% } %>

    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        class="form-control"
        type="password"
        id="password"
        placeholder="Password"
        required
        minlength="8"
        name="password">
    </div>

    <% if (locals.field ==='password' && locals.message) { %>
      <%- include('components/invalid-form-feedback.ejs', { error: message }); %>
    <% } %>

    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</div>

<%- include('base/footer'); %>
