<%- include('base/header'); %>
<%- include('base/navbar'); %>
<%- include('components/heading.ejs'); %>

<div class="container">
  <form class="w-50 mx-auto" action="" method="POST">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        class="form-control"
        type="text"
        id="firstName"
        name="firstName"
        placeholder="First Name"
        value="<%= locals.firstName ? firstName.value : '' %>">

        <% if (locals.firstName && firstName.errorMsg) { %>
          <%- include('components/invalid-form-feedback.ejs',
            { error: firstName.errorMsg }) %>
        <% } %>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        class="form-control"
        type="text"
        id="lastName"
        name="lastName"
        placeholder="Last Name"
        value="<%= locals.lastName ? lastName.value : '' %>">

        <% if (locals.lastName && lastName.errorMsg) { %>
          <%- include('components/invalid-form-feedback.ejs',
            { error: lastName.errorMsg }) %>
        <% } %>
    </div>
    <div class="form-group">
      <label for="email">Email adress</label>
      <input
        class="form-control"
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        value="<%= locals.email ? email.value : '' %>">

        <% if (locals.email && email.errorMsg) { %>
          <%- include('components/invalid-form-feedback.ejs',
            { error: email.errorMsg }) %>
        <% } %>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        class="form-control"
        type="password"
        id="password"
        name="password"
        placeholder="Password">

        <% if (locals.password && password.errorMsg) { %>
          <%- include('components/invalid-form-feedback.ejs',
            { error: password.errorMsg }) %>
        <% } %>
    </div>
    <div class="form-group">
      <label for="password-conf">Confirm password</label>
      <input
        class="form-control"
        type="password"
        id="password-conf"
        name="passwordConf"
        placeholder="Confirm Password">

        <% if (locals.passwordConf && passwordConf.errorMsg) { %>
          <%- include('components/invalid-form-feedback.ejs',
            { error: passwordConf.errorMsg }) %>
        <% } %>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </form>
</div>

<%- include('base/footer'); %>
