
<%- include('base/header'); %>
<%- include('base/navbar'); %>

<%- include('components/heading.ejs'); %>

<div class="container">
  <form class="w-50 mx-auto" action="" method="POST">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        class="form-control"
        type="text"
        id="firstName"
        name="firstName"
        placeholder="First Name"
        value="<%= didValidationFail ? firstName.value : '' %>">

        <% if (didValidationFail && firstName.errorMsg) { %>
          <%- include('components/invalid-form-feedback.ejs',
            { error: firstName.errorMsg }) %>
        <% } %>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        class="form-control"
        type="text"
        id="lastName"
        name="lastName"
        placeholder="Last Name"
        value="<%= didValidationFail ? lastName.value : '' %>">

        <% if (didValidationFail && lastName.errorMsg) { %>
          <%- include('components/invalid-form-feedback.ejs',
            { error: lastName.errorMsg }) %>
        <% } %>
    </div>
    <div class="form-group">
      <label for="email">Email adress</label>
      <input
        class="form-control"
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        value="<%= didValidationFail ? email.value : '' %>">

        <% if (didValidationFail && email.errorMsg) { %>
          <%- include('components/invalid-form-feedback.ejs',
            { error: email.errorMsg }) %>
        <% } %>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        class="form-control"
        type="password"
        id="password"
        name="password"
        placeholder="Password">

        <% if (didValidationFail && password.errorMsg) { %>
          <%- include('components/invalid-form-feedback.ejs',
            { error: password.errorMsg }) %>
        <% } %>
    </div>
    <div class="form-group">
      <label for="password-conf">Confirm password</label>
      <input
        class="form-control"
        type="password"
        id="password-conf"
        name="passwordConf"
        placeholder="Confirm Password">

        <% if (didValidationFail && passwordConf.errorMsg) { %>
          <%- include('components/invalid-form-feedback.ejs',
            { error: passwordConf.errorMsg }) %>
        <% } %>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </form>
</div>

<%- include('base/footer'); %>
